.load {
  display: block;
  height: 3.125rem;
  aspect-ratio: 1;
  position: relative;
  border: 5px double var(--ts);
  border-bottom-color: var(--puplish-blue);
  border-left-color: var(--puplish-blue);
  border-radius: var(--round);

  animation: rad 1.2s ease infinite;
  position: absolute;
  top: 45%;
  left: 45%;
}

@keyframes rad {
  to {
    transform: rotate(360deg);
  }
}

@keyframes main {
  from {
    transform: translate3d(0, -100vh, 0);
  }
  to {
    transform: translate3d(0, 0, 0);
  }
}