.main {
  height: 70vh;
  width: 80%;
  align-self: var(--cn);

  border-radius: var(--rad);
  box-shadow: 3px 4px var(--rad) 0 rgba(0, 0, 0, 0.1);
  background-color: var(--wt);

  padding: 2%;

  display: grid;
  grid-template-rows: repeat(5, 1fr);
  grid-template-columns: repeat(7, 1fr);

  &__steps {
    grid-column: 1/3;
    grid-row: 1/6;
    border-radius: inherit;
    background: var(--puplish-blue) url("/assets/images/bg-sidebar-desktop.svg")
      no-repeat border-box var(--cn) / 100% 100%;

    &__box {
      display: flex;
      justify-content: space-evenly;
      flex: 0.1 1 auto;

      span {
        color: var(--cool-gray);
        line-height: 1.4;
      }

      i {
        height: 80%;
        aspect-ratio: 1;
        border-radius: var(--round);
        border: 2px solid var(--light-blue);
        font-style: normal;

        display: flex;
        justify-content: var(--cn);
        align-items: var(--cn);
        align-self: var(--cn);
        color: var(--wt);
        transition: var(--trans-default);

        // event listener
        &.click {
          background-color: var(--pastel-blue);
          color: var(--marine-blue);
        }
      }

      div {
        height: max-content;
        min-width: 101px;
        align-self: var(--cn);
      }
    }
  }

  &__cards {
    grid-column: 4/8;
    grid-row: 1/6;
    position: relative;
  }
}

.step__box {
  height: 60%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;
}

.card {
  height: 100%;
  width: 80%;
  display: flex;
  flex-flow: column;
  justify-content: space-evenly;

  &__info {
    flex: 0.03 1 auto;
    display: flex;
    flex-flow: column;
    justify-content: space-between;

    &__contact {
      // flex: 0.6 1 auto;
      height: 16.875rem;
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      label {
        flex: 0.2 1 auto;
        display: flex;
        justify-content: space-around;
        flex-flow: column;

        color: var(--marine-blue);
        font-family: var(--font-xl);
      }

      input {
        flex: 0.5 1 auto;
      }
    }
  }

  &__plan {
    height: 16.875rem;
    display: flex;
    flex-flow: column;
    justify-content: space-around;

    &__select {
      flex: 0.4 1 auto;
      display: grid;
      grid-template-columns: repeat(3, 1fr);
      grid-template-rows: 1fr;
      grid-column-gap: 1rem;

      .plan__box {
        border: 2px solid var(--cool-gray);
        border-radius: calc(var(--rad) / 2);
        display: flex;
        flex-flow: column;
        justify-content: space-around;

        padding-inline-start: 8%;
        transition: var(--trans-default);

        &.click {
          border-color: var(--puplish-blue);
          background-color: hsla(228, 100%, 84%, 0.5);
        }

        &:hover {
          transition: var(--trans-default);
          border-color: var(--puplish-blue);
          transform: translate3d(0, -5%, 0);
        }
      }

      .free {
        --font-size-small: 0.85rem;
        display: inline-block;
        color: var(--marine-blue);
        font-family: var(--font-xl);
        font-size: var(--font-size-small);
        line-height: 1.7;
      }
    }

    &__toggle {
      background-color: var(--light-gray);
      height: 2.6rem;
      border-radius: calc(var(--rad) / 2);
      display: flex;
      justify-content: var(--cn);
      align-items: var(--cn);

      div {
        width: 60%;
        @extend .fx-between;
      }
    }

    .title {
      font-size: var(--font-size-small);
    }

    img {
      width: 40px;
      aspect-ratio: 1;
    }

    span {
      color: var(--cool-gray);
      font-size: var(--font-size-small);
    }
  }

  &__pick {
    display: flex;
    flex-flow: column;
    justify-content: space-evenly;
    // flex: 0.3 1 auto;
    height: 16.875rem;
    &__box {
      border: 2px solid var(--cool-gray);
      border-radius: calc(var(--rad) / 1.2);
      transition: var(--trans-default);
      flex: 0.2 1 auto;
      @extend .fx-evenly;

      .p {
        flex: 0.3 1 auto;
        @extend .fx-evenly;
      }

      &.click {
        border-color: var(--puplish-blue);
        background-color: hsla(228, 100%, 84%, 0.5);
      }
    }

    span {
      color: var(--puplish-blue);
      font-size: 0.75rem;
      height: fit-content;
    }
    h2 {
      color: var(--marine-blue);
    }
  }

  &__summary {
    display: flex;
    flex-flow: column;
    justify-content: space-between;
    height: 16.875rem;

    .select__plan {
      flex: 0.3 1 auto;
      p {
        height: 100%;
        @extend .fx-evenly;
        flex-flow: column;
      }
      a {
        width: min-content;
        align-self: flex-start;
        &:hover {
          color: var(--puplish-blue);
        }
      }
    }
    .select__result {
      flex: 0.3 1 auto;
      display: flex;
      flex-flow: column;
      justify-content: space-around;
    }

    &__confirm {
      background-color: hsla(229, 24%, 87%, 0.9);
      border-radius: calc(var(--rad) / 2);
      padding: 2% 4%;
      flex: 0.8 1 auto;
      display: flex;
      flex-flow: column;
      justify-content: space-around;

      box-shadow: 3px 2px 4px 0 rgba(0, 0, 0, 0.1);
    }
  }

  &__btn {
    display: flex;
    flex-flow: row;
    justify-content: flex-end;

    &.two {
      justify-content: space-between;
    }
  }
}

@media screen and (min-width: 1300.98px) {
  #main {
    height: 38.323rem;
    width: 62.368rem;
  }
}

@media screen and (min-width: 1200.98px) {
  #main {
    height: 38.323rem;
  }
}

@media screen and (max-width: 1199.98px) {
  #main {
    height: 43.75rem;
  }
}

@media screen and (max-width: 991.98px) {
  :root {
    --font-size-small: clamp(0.8rem, 6vmin, 0.95rem);
    --font-size-medium: clamp(1.1rem, 7vmin, 1.2rem);
    --font-size-large: clamp(1.6rem, 10vmin, 1.8rem);
    --font-size-xlarge: clamp(2.1rem, 16vmin, 2.8rem);
  }
  #main {
    height: 32.5rem;
    width: 85%;
  }
}

@media screen and (max-width: 767.98px) {
  :root {
    --font-size-small: clamp(0.8rem, 5vmin, 0.9rem);
    --font-size-medium: clamp(1.1rem, 7vmin, 1.2rem);
    --font-size-large: clamp(1.3rem, 10vmin, 1.6rem);
    --font-size-xlarge: clamp(2.1rem, 15vmin, 2.5rem);
  }
  #main {
    display: block;
  }
}

@media screen and (max-width: 575.98px) {
  :root {
    --font-size-small: clamp(0.8rem, 5vmin, 0.9rem);
    --font-size-medium: clamp(1.1rem, 7vmin, 1.15rem);
    --font-size-large: clamp(1.2rem, 10vmin, 1.6rem);
    --font-size-xlarge: clamp(2.1rem, 15vmin, 2.3rem);
  }

  #main {
    display: block;
  }
}

$fx: ("around", "between", "evenly");

@each $type in $fx {
  .fx-#{$type} {
    display: flex;
    align-items: var(--cn);
    justify-content: space-#{$type};
  }
}
