* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;

  font-family: inherit;
}

@font-face {
  font-family: "Ubuntu";
  src: url("/assets/fonts/Ubuntu-Regular.ttf");
}

@font-face {
  font-family: "Ubuntu Medium";
  src: url("/assets/fonts/Ubuntu-Medium.ttf");
}

@font-face {
  font-family: "Ubuntu Large";
  src: url("/assets/fonts/Ubuntu-Bold.ttf");
}
:root {
  --marine-blue: hsl(213, 96%, 18%);
  --puplish-blue: hsl(243, 100%, 62%);
  --pastel-blue: hsl(228, 100%, 84%);
  --light-blue: hsl(206, 94%, 87%);
  --strawberry-red: hsl(354, 84%, 57%);

  --cool-gray: hsl(231, 11%, 63%);
  --light-gray: hsl(229, 24%, 87%);
  --magnolia: hsl(217, 100%, 97%);
  --alabaster: hsl(231, 100%, 99%);
  --wt: hsl(0, 0%, 100%);
  --ts: transparent;

  --cn: center;
  --rad: 0.625rem;
  --full-size: 100%;
  --round: calc(var(--full-size) / 2);
  --default-font-size: 16px;

  --debbug: 2px solid indianred;
  --debbug-bg: indianred;
  --font: "ubuntu";
  --font-l: "Ubuntu Medium";
  --font-xl: "Ubuntu Large";
  --font-size-small: clamp(0.8rem, 6vmin, 0.95rem);
  --font-size-medium: clamp(1.2rem, 8vmin, 1.3rem);
  --font-size-large: clamp(1.8rem, 13vmin, 2rem);
  --font-size-xlarge: clamp(2.5rem, 20vmin, 3rem);

  --trans-default: all 0.2s ease;
  --bounce-func: cubic-bezier(0.68, -0.55, 0.265, 1.5);
}

html {
  width: 100%;
  min-height: 100vh;
  font-size: var(--default-font-size);
  font-family: var(--font), sans-serif;

  background-color: var(--light-gray);

  body,
  #app {
    width: inherit;
    min-height: inherit;
  }
}

#app {
  display: flex;
  justify-content: var(--cn);
  align-items: var(--cn);
}

.title {
  color: var(--marine-blue);
  font-size: var(--font-size-large);
  font-family: var(--font-xl);
  &__sub {
    color: var(--cool-gray);
    font-size: var(--font-size-small);
    line-height: 1.4;
  }
}

h2 {
  color: var(--wt);
  font-size: var(--font-size-small);
  font-family: var(--font-xl);
  letter-spacing: 0.5px;
}

button {
  outline: 1px solid var(--ts) !important;
}

.btn {
  border-radius: calc(var(--rad) / 2);
  font-family: var(--font-xl);
  width: 5.7rem;
  height: 2.4rem;
  box-shadow: 2px 1px 4px 0 rgba(0, 0, 0, 0.1);
  transition: var(--trans-default);
  display: inline-block;

  &.next {
    border: 1px solid var(--marine-blue);
    background-color: var(--marine-blue);
    color: var(--magnolia);
  }
  &.prev {
    color: var(--cool-gray);
    border-color: var(--ts);
    background-color: var(--ts);
    box-shadow: unset;
    &:hover {
      color: var(--marine-blue);
    }
  }

  &.end {
    color: var(--wt);
    border-color: var(--ts);
    background-color: var(--puplish-blue);
  }

  &.time {
    color: var(--cool-gray);
    border-color: var(--ts);
    background-color: var(--ts);
    box-shadow: unset;

    &.choice {
      color: var(--marine-blue);
    }
  }

  &.navBtn.click {
    opacity: 0.9;
    transition: var(--trans-default);
    transform: translate3d(10%, 0, 0);
  }
}

.toggle {
  width: 3.75rem;
  height: 1.25rem;
  border-radius: calc(var(--rad) * 3);
  background-color: var(--marine-blue);
  border: 1px solid var(--marine-blue);
  position: relative;

  &:before {
    position: absolute;
    top: 0;
    left: 0;
    content: "";
    height: 100%;
    aspect-ratio: 1;
    background-color: var(--wt);
    border-radius: var(--round);
    transition: var(--trans-default);
  }

  &.click:before {
    left: 68.98%;
    transition: var(--trans-default);
  }
}

label:has(input.error) {
  color: var(--strawberry-red);
}

input {
  border: 3px solid var(--cool-gray);
  outline: none;
  border-radius: var(--rad);
  padding: 1% 3%;
  color: var(--cool-gray);
  transition: var(--trans-default);

  &:hover {
    border-color: var(--marine-blue);
    transition: var(--trans-default);
  }

  &[type="checkbox"] {
    caret-color: var(--puplish-blue);
  }

  &.error {
    border-color: var(--strawberry-red);
  }
}

.at-end {
  display: flex;
  justify-content: space-between;
  align-items: var(--cn);
}

.for {
  &__year {
    color: var(--marine-blue);
    font-family: var(--font-xl);
  }

  &__plan {
    @extend .for__year;
  }
}

// this class are for the last sections
.t {
  color: var(--marine-blue);
}

hr {
  // height: 1px;
  border: 1px solid var(--cool-gray);
  border-radius: var(--round);
  opacity: 0.5;
}
.sum {
  --font-size-medium: 1.1rem;
  color: var(--puplish-blue);
  font-family: var(--font);
  font-size: var(--font-size-medium);
}

.hide {
  display: none !important;
}
